.container {
  display: flex;
  gap: 20px;
}

.sidebar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  margin-right: 1%;
}

.content {
  flex: 3;
  margin-top: 3%;
}

.ingredient-list {
  flex: 4;
  margin: 3% 0% 0% 3%;
}

.ingredient-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.ingredient-info {
  flex: 1;
}

.ingredient-actions {
  display: flex;
}

.ingredient-form {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button.custom-btn {
  text-transform: none;
  margin-top: 1%;

}

button.custom-btn mat-icon {
  margin-right: 5px;
}
