<form [formGroup]="recipeForm" (ngSubmit)="addRecipe()" class="form-container">
  <h2 class="form-title">Ajouter une Nouvelle Recette</h2>
  <div class="form-field">
   
    <mat-form-field class="full-width">
      <mat-label for="name" class="field-label">Nom de la recette</mat-label>
      <input matInput id="name" type="text" formControlName="name" required>
    </mat-form-field>
  </div>
  <div class="form-field">
    <label for="description" class="field-label">Description</label>
    <mat-form-field class="full-width">
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div class="add-ingredient">
    <app-ingredients-input (addIngredientEvent)="addIngredient($event)"></app-ingredients-input>
  </div>
  <div class="ingredients">
    <div *ngFor="let ingredient of ingredientsRecipe">
      <p>{{ ingredient.quantity }}</p>
    </div>
  </div>
  <div class="form-field">
    <input type="file" id="avatar-input-file" accept="image/*"/>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Ajouter la Recette</button>
  </div>
</form>
