.mat-toolbar {
  background-color: #3f51b5;
  color: white;
  justify-content: flex-start;
  padding-left: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.link-nav {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.link-nav:hover {
  text-decoration: underline;
}

.nav-div{
  display: flex;
  justify-content: flex-start;
}

.logo-nav{
  height: 70px;
  width: auto;
}