.div-ing{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.add-button-container{
    align-self: center;
    max-height: 24px;
}

.add-button{
    border: none;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
}

.add-button:hover{
    background-color: green;
    transition: 0.2s;
    color: white;
}

.add-button{
    border-radius: 100%;
}

button{
    padding: 0;
    max-height: 24px;
}