.recipes-list-card {
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.top-header {
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
  
  .mat-card-title {
    margin-bottom: 0;
  }
  
  .add-button {
    position: absolute;
    right: 0;
  }
  
  .mat-card-content {
    padding: 16px;
  }
  
mat-paginator{
  padding-top: 10%;
  padding-bottom: 5%;
  flex-wrap: nowrap;
  margin-right: auto;
}